body {
  background: #faf8fb;
  color: #9575d5;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #592fb5;
}

.bg-steel {
  background-color: #a494d4;
}

.input-group-text {
  background-color: #c8bfed;
  color: white;
}

.site-header .navbar-nav .nav-link {
  color: #faf8fb;
}

.site-header .navbar-nav .nav-link:hover {
  color: #592fb5;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 1000;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

 .logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}