<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AmberLabs - Edit order {{ sale.order_id }}</title>
    <style>
    .container-border
    {background: #dbdee6; padding: 2%;
    border-top-color: black;
    border-bottom-color: black;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;}
    </style>
</head>
<body>
{% extends "base.html" %}

{% block content %}
<header>
  <h1>
    Order #{{ sale.order_id }} <a class="btn btn-dark" href="{{ url_for('view_order', order_id=sale.order_id) }}">Back to order</a>
  <h1/><br>
</header>

<div class="container-border">
  <div class="row">
    <div class="col">
      <h4 style="text-align:left">Date: {{ sale.date }}</h4>
    </div>
    <div class="col">
      <h4 style="text-align:center">Buyer: {{ sale.buyer }}</h4>
    </div>
    <div class="col">
      <h4 style="text-align:center">SKU: {{ sale.sku }}</h4>
    </div>
    <div class="col">
      <h4 style="text-align:right">Status:</h4>
    </div>
    <div class="col">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        {{ sale.status }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="{{ url_for('change_status', order_id=sale.order_id, status='Ordered') }}">Ordered</a></li>
          <li><a class="dropdown-item" href="{{ url_for('change_status', order_id=sale.order_id, status='Under production') }}">Under production</a></li>
          <li><a class="dropdown-item" href="{{ url_for('change_status', order_id=sale.order_id, status='Shipped to warehouse') }}">Shipped to warehouse</a></li>
          <li><a class="dropdown-item" href="{{ url_for('change_status', order_id=sale.order_id, status='In warehouse') }}">In warehouse</a></li>
          <li><a class="dropdown-item" href="{{ url_for('change_status', order_id=sale.order_id, status='Shipped to buyer') }}">Shipped to buyer</a></li>
          <li><a class="dropdown-item" href="{{ url_for('change_status', order_id=sale.order_id, status='Delivered') }}">Delivered</a></li>
          <li><a class="dropdown-item" href="{{ url_for('change_status', order_id=sale.order_id, status='Waiting for return') }}">Waiting for return</a></li>
          <li><a class="dropdown-item" href="{{ url_for('change_status', order_id=sale.order_id, status='Returned/refunded') }}">Returned/refunded</a></li>
        </ul>
      </div>
    </div>
  </div>
</div><br>
<form action="#" method="post">
  <div class="container">
    <div class="row">
      <div class="col-3">
        Buyer's name:
      </div>
      <div class="col-3">
        <input type="text" class="form-control" name="buyer">
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        SKU:
      </div>
      <div class="col-3">
        <input type="text" class="form-control" name="sku">
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        Production costs
      </div>
      <div class="col-3">
        <div class="input-group">
          <span class="input-group-text">€</span>
          <span class="input-group-text">{{ sale.prod_costs}}</span>
          <input type="text" class="form-control" name="prod_costs">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        Shipping costs
      </div>
      <div class="col-3">
        <div class="input-group">
          <span class="input-group-text">€</span>
          <span class="input-group-text">{{ sale.ship_costs }}</span>
          <input type="text" class="form-control" name="ship_costs">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        Undefined costs:
      </div>
      <div class="col-3">
        <div class="input-group">
          <span class="input-group-text">€</span>
          <span class="input-group-text">{{ sale.undef_costs }}</span>
          <input type="text" class="form-control" name="undef_costs">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        Note:
      </div>
      <div class="col-3">
        <div class="input-group">
          <span class="input-group-text">{{ sale.note}}</span>
          <input type="text" class="form-control" name="note">
        </div>
      </div>
    </div><br>
    <div class="row">
      <div class="col-6" style="text-align:right">
        <input class="btn btn-dark" type="submit" value="Submit"/>
      </div>
    </div>
  </div>
</form>
{% endblock %}
</body>
</html>