{% extends "base.html" %}

{% block content %}

    <div class="content-section" style="text-align:center">
        {% if month == 'all' %}
        <h2>Your full year statistics</h2>
        {% endif %}
        {% if month == '01' %}
        <h2>Your January statistics</h2>
        {% endif %}
        {% if month == '02' %}
        <h2>Your February statistics</h2>
        {% endif %}
        {% if month == '03' %}
        <h2>Your March statistics</h2>
        {% endif %}
        {% if month == '04' %}
        <h2>Your April statistics</h2>
        {% endif %}
        {% if month == '05' %}
        <h2>Your May statistics</h2>
        {% endif %}
        {% if month == '06' %}
        <h2>Your June statistics</h2>
        {% endif %}
        {% if month == '07' %}
        <h2>Your July statistics</h2>
        {% endif %}
        {% if month == '08' %}
        <h2>Your August statistics</h2>
        {% endif %}
        {% if month == '09' %}
        <h2>Your September statistics</h2>
        {% endif %}
        {% if month == '10' %}
        <h2>Your October statistics</h2>
        {% endif %}
        {% if month == '11' %}
        <h2>Your November statistics</h2>
        {% endif %}
        {% if month == '12' %}
        <h2>Your December statistics</h2>
        {% endif %}
    </div>
    <div class="dropdown">
        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Select month
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{{ url_for('home') }}">All months</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ url_for('show_dashboard', month='01') }}">January</a></li>
            <li><a class="dropdown-item" href="{{ url_for('show_dashboard', month='02') }}">February</a></li>
            <li><a class="dropdown-item" href="{{ url_for('show_dashboard', month='03') }}">March</a></li>
            <li><a class="dropdown-item" href="{{ url_for('show_dashboard', month='04') }}">April</a></li>
            <li><a class="dropdown-item" href="{{ url_for('show_dashboard', month='05') }}">May</a></li>
            <li><a class="dropdown-item" href="{{ url_for('show_dashboard', month='06') }}">June</a></li>
            <li><a class="dropdown-item" href="{{ url_for('show_dashboard', month='07') }}">July</a></li>
            <li><a class="dropdown-item" href="{{ url_for('show_dashboard', month='08') }}">August</a></li>
            <li><a class="dropdown-item" href="{{ url_for('show_dashboard', month='09') }}">September</a></li>
            <li><a class="dropdown-item" href="{{ url_for('show_dashboard', month='10') }}">October</a></li>
            <li><a class="dropdown-item" href="{{ url_for('show_dashboard', month='11') }}">November</a></li>
            <li><a class="dropdown-item" href="{{ url_for('show_dashboard', month='12') }}">December</a></li>
        </ul>
    </div>

    {% if data[0] > 0 %}
        <canvas id="lineChart" width="1300" height="400"></canvas>
            <script>
                var ctx = document.getElementById("lineChart").getContext("2d");
                var lineChart = new Chart (ctx, {
                    type: "line",
                    data: {
                        labels: {{ dates | safe }},
                        datasets: [
                            {
                                label: "Profit",
                                data: {{ profits | safe }},
                                fill: false,
                                borderColor: "#43739d",
                                lineTension: 0.2
                            }
                        ]
                    },
                    options: {
                        responsive: false
                    }
                });
            </script>
    {% endif %}
    <br><br>
    <div class="row">
        <div class="col">
            <h2 style="text-align:center">Orders: {{ data[0] }} (of which fully refunded: {{ data[1] }})</h2>
        </div>
    </div>
    <div class="content-section" style="vertical-align:middle">
        <div class="row">
            <div class="col">
                <h3 style="text-align:center">Total</h3>
            </div>
            <div class="col">
                <h3 style="text-align:center">Per order (fully refunded orders excluded)</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 style="text-align:right">Net revenue:</h3>
        </div>
        <div class="col">
            <h3 style="text-align:left">{{ data[2] }} €</h3>
        </div>
        <div class="col">
            <h3 style="text-align:right">Net revenue:</h3>
        </div>
        <div class="col">
            <h3 style="text-align:left">{{ data[3] }} €</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 style="text-align:right">Costs:</h3>
        </div>
        <div class="col">
            <h3 style="text-align:left">{{ data[4] }} €</h3>
        </div>
        <div class="col">
            <h3 style="text-align:right">Costs:</h3>
        </div>
        <div class="col">
            <h3 style="text-align:left">{{ data[5] }} €</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 style="text-align:right">Etsy costs:</h3>
        </div>
        <div class="col">
            <h3 style="text-align:left">{{ data[6] }} €</h3>
        </div>
        <div class="col">
            <h3 style="text-align:right">Etsy costs:</h3>
        </div>
        <div class="col">
            <h3 style="text-align:left">{{ data[7] }} €</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 style="text-align:right">Production costs:</h3>
        </div>
        <div class="col">
            <h3 style="text-align:left">{{ data[8] }} €</h3>
        </div>
        <div class="col">
            <h3 style="text-align:right">Production costs:</h3>
        </div>
        <div class="col">
            <h3 style="text-align:left">{{ data[9] }} €</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 style="text-align:right">Shipping costs:</h3>
        </div>
        <div class="col">
            <h3 style="text-align:left">{{ data[10] }} €</h3>
        </div>
        <div class="col">
            <h3 style="text-align:right">Shipping costs:</h3>
        </div>
        <div class="col">
            <h3 style="text-align:left">{{ data[11] }} €</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 style="text-align:right">Undefined costs:</h3>
        </div>
        <div class="col">
            <h3 style="text-align:left">{{ data[12] }} €</h3>
        </div>
        <div class="col">
            <h3 style="text-align:right">Undefined costs:</h3>
        </div>
        <div class="col">
            <h3 style="text-align:left">{{ data[13] }} €</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 style="text-align:right">Profit:</h3>
        </div>
        <div class="col">
            <h3 style="text-align:left">{{ data[14] }} €</h3>
        </div>
        <div class="col">
            <h3 style="text-align:right">Profit:</h3>
        </div>
        <div class="col">
            <h3 style="text-align:left">{{ data[15] }} €</h3>
        </div>
    </div><br>

{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
