{% extends "base.html" %}

{% block content %}

        <div id="outer">
            <div class="inner"><h2>Order #{{ order.order_id }}</h2></div>
            <div class="inner"><a class="btn btn-outline-dark" href="{{ url_for('edit_order', order_id=order.order_id) }}">Edit</a></div>
            <div class="inner"><a class="btn btn-outline-dark" data_toggle="modal" data_target="#updateModal" href="{{ url_for('delete_order', order_id=order.order_id) }}">Delete</a></div>
        </div><br><br>
        <div class="row" style="text-align:center">
          <h4>Status: {{ order.status }}</h4>
        </div>
        <div class="row">
          <div class="progress">
            {% if order.status == 'Ordered' %}
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width: 1%;"></div>
            {% endif %}
            {% if order.status == 'Under production' %}
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"></div>
            {% endif %}
            {% if order.status == 'Shipped to warehouse' %}
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
            {% endif %}
            {% if order.status == 'Shipped to buyer' %}
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
            {% endif %}
            {% if order.status == 'Delivered' %}
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
            {% endif %}
            {% if order.status == 'Waiting for return' %}
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
            {% endif %}
            {% if order.status == 'Canceled' %}
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
            {% endif %}
          </div>
        </div><br>
        <div class="row">
            <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title" style="text-align:center">Date</h4>
                    <p class="card-text" style="text-align:center">{{ order.date }}</p>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align:center">Buyer</h4>
                        <p class="card-text" style="text-align:center">{{ order.buyer }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align:center">SKU</h4>
                        <p class="card-text" style="text-align:center">{{ order.sku }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align:center">Profit</h4>
                        <p class="card-text" style="text-align:center">{{ order.profit }} €</p>
                    </div>
                </div>
            </div>
        </div><br><br>

    <div class="container" style="max-width: 100%;">
        <div class="row">
            <div class="col">
                <div class="card bg-light mb-3">
                    <div class="card-header"><h4 style="text-align:center">Revenue: {{ order.net_revenue }}</h4></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 style="text-align:right">Order revenue:</h5>
                            </div>
                            <div class="col">
                                <h5 style="text-align:left">{{ order.revenue }} €</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h5 style="text-align:right">Refunded:</h5>
                            </div>
                            <div class="col">
                                <h5 style="text-align:left">{{ order.refund }} €</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-light mb-3">
                    <div class="card-header"><h4 style="text-align:center">Costs: {{ order.costs }} €</h4></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 style="text-align:right">Etsy costs:</h5>
                            </div>
                            <div class="col">
                                <h5 style="text-align:left">{{ order.etsy_costs }} €</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h5 style="text-align:right">Production costs:</h5>
                            </div>
                            <div class="col">
                                <h5 style="text-align:left">{{ order.prod_costs }} €</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h5 style="text-align:right">Shipping costs:</h5>
                            </div>
                            <div class="col">
                                <h5 style="text-align:left">{{ order.ship_costs }} €</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h5 style="text-align:right">Undefined costs:</h5>
                            </div>
                            <div class="col">
                                <h5 style="text-align:left">{{ order.undef_costs }} €</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br>

    <h4>Note:</h4>
    <form action="#" method="post">
      <div class="input-group">
        <span class="input-group-text">{{ order.note}}</span>
        <input type="text" class="form-control" name="note" placeholder="Edit">
        <input class="btn btn-outline-dark" type="submit" value="Submit"/>
      </div>
    </form>

{% endblock %}